{% extends "admin_base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            
            {% if add_a_category %}
            <h1 class="text-center mt-5"> Add Category </h1>
            <form action="/add_category" method="POST">
                <input type="text" name="category" class="form-control">
                <input type="submit" value="Add Category" class="btn btn-info mt2"> 
            </form>
            {% elif add_a_brand %}
            <h1 class="text-center mt-5"> Add Brand </h1>
            <form action="/add_brand" method="POST">
                <input type="text" name="brand" class="form-control">
                <input type="submit" value="Add Brand" class="btn btn-info mt2"> 
            </form>
            {% elif add_a_product %}
            <h1 class="text-center mt-5"> Add a Product </h1> 
            <form action="/add_product" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="product">Name</label>
                    <input type="text" class="form-control" name="product" id="product" placeholder="Product name">
               </div> 

               <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="category"> Product Category</label>
                      <select name="category" id="category" class="form-control" required>
                        <option value=""> Select a category </option>
                        {% for category in categories %}
                        <option value="{{ category.id }}"> {{ category.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="brand">Product Brand</label>
                        <select name="brand" id="brand" class="form-control" required>
                            <option value=""> Select a brand </option>
                            {% for brand in brands %}
                            <option value="{{ brand.id }}"> {{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" name='price' id='price' placeholder="Price">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="discount">Discount</label>
                      <input type="text" class="form-control" name='discount' id='discount' placeholder="Discount">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="stock">Stock</label>
                      <input type="text" class="form-control" name='stock' id='price' placeholder="Stock">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="color">Color</label>
                      <input type="text" class="form-control" name='color' id='color' placeholder="Color">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" name="description" id="description" rows="4" cols="50" placeholder="Product Description"></textarea>
                </div>

                <div class="form-group">
                    <label for="image_main">Main Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="image_main" accept=".jpg, .jpeg, .png" multiple required>
                        <label class="custom-file-label" for="validatedCustomFile"></label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                </div>

                <div class="form-row">
                   <div class="form-group col-md-4">
                       <label for="image_1">Image_1</label>
                       <div class="custom-file">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" name="image_1" accept=".jpg, .jpeg, .png" multiple required>
                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="image_2">image_2</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" name="image_2" accept=".jpg, .jpeg, .png" multiple required>
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                          </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="image_3">image_3</label>
                        <div class="custom-file">
                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                            <input type="file" class="custom-file-input" id="validatedCustomFile" name="image_3" accept=".jpg, .jpeg, .png" multiple required>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>
                </div>
                
                <input type="submit" value="Add product" class="btn btn-info mt2"> 
            </form>
            {% else %}
             <div class="container mt-5">
                <table class="table table-sm table-condensed table-striped">
                    <thead>
                        <th> SR </th>
                        <th> Product </th>
                        <th> Price </th>
                        <th> Discount </th>
                        <th> Brand </th>
                        <th> Image </th>
                        <th> Edit </th>
                        <th> Delete </th>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }} </td>
                            <td>{{ product.discount }} %</td>
                            <td>{{ product.brand.name }}</td>
                            <td><img src="{{ url_for('static', filename='images/' + product.image_main)}}" width="60" height="60"></td>
                            <td>edit</td>
                            <td>delete</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>  
            {% endif %}

        </div> 
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}