<html>
   <head>
    <title>{% block title %}{% endblock %} - Online Shopping Test</title>
      <link rel="stylesheet" href="/static/styles.css">
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='flip-card.css') }}">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='login-form.css') }}">--->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script type="javascript" src="/static/bootstrap.bundle.min.js"></script>

   </head>


   <body>

 
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar<span class="sr-only">(current)</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New Stuff</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Babies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kiddies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Toys</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ username }}</a>
                </li>
      
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li> 

                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
    
            
            <ul class="navbar-nav">
                {% if 'username' not in session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign In</a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/choose_login">Login</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/choose_register">Create Account</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <span id="cart" class="">
                        <a href="/shop/cart" onclick="ga('send', 'event', 'Top Navigation', 'Click', 'Shopping Cart');"><i class="fa fa-shopping-cart cart" style="color:black !important"><span class="badge" id="ItemsCount">0</span></i></a>
                    </span>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/about">Profile</a>
                      <a class="dropdown-item" href="/dashboard">Dashboard</a>
                      <a class="dropdown-item" href="/applications">Applications</a>
                      <a class="dropdown-item" href="/settings">Settings</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/logout">Log Out</a>
                    </div>
                  </li>
                  {% endif %}
            </ul>
            
        </div>
    </nav>
    	


    <div id="content">
        {% block content %}
        
        {% endblock %}
    </div>

    <hr>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2010 by <a href="http://onlineshopping.co.za"> my online shopping</a>.
        {% endblock %}
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="disclaimer">
                <div class="social-icons">
                    <a href="http://www.facebook.com/onlineshopping" target="_blank" style="color:#fff;" class="learnMore-link">
                        <i class="fa fa-facebook fa-2x" style="margin-right:5px;"></i>
                    </a>
                    <a href="http://www.twitter.com/onlineshopping" target="_blank" style="color:#fff;" class="learnMore-link">
                        <i class="fa fa-twitter fa-2x" style="margin-right:5px;"></i>
                    </a>
                    <a href="https://www.instagram.com/onlineshopping" target="_blank" style="color:#fff;" class="learnMore-link">
                        <i class="fa fa-instagram fa-2x" style="margin-right:5px;"></i>
                    </a>
                    <a href="https://www.youtube.com/user/onlineshopping" target="_blank" style="color:#fff;" class="learnMore-link">
                        <i class="fa fa-youtube fa-2x" style="margin-right:5px;"></i>
                    </a>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <ul class="list-inline">
                            <li>Copyright 2021 Online Shopping South Africa</li>
                            <li>•</li>
                            <li>Customer Care Line: <a href="tel:087 487 3287" style="color:#fff; text-decoration:underline;">087 487 3287</a></li>
                            <li><span class="hidden-xs">•</span></li>
                            <li><a onclick="ga('send', 'event', 'Footer Navigation', 'Click', 'Email');" href="mailto:info@dnecs.co.za" style="color:#fff; text-decoration:underline;">info@dnecs.co.za</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    Online Shopping has branches throughout South Africa in the Eastern Cape, Freestate, Gauteng, KwaZulu Natal, Mpumalanga, North Western, Northern Cape, Western Cape
                </div>
                <div class="row">
                    Gauteng  |  Cape Town  |  Pretoria  |  Bloemfontein  |  Port Elizabeth  |   Durban  |  Pietermaritzburg  |  Potchefstroom  |  Kimberley
                </div>
                <div class="row">
                    <br>
                </div>
            </div>
        </div>
    </div>

   </body>


</html>