<!-- <html>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- <style>

body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 680px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

 /**** REGISTERATION PAGE****/
#register .container #register-row #register-column #register-box {
  margin-top: 25px;
  max-width: 800px;
  height: 680px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#register .container #register-row #register-column #register-box {
  padding: 20px;
}
#register-form #register-link {
    margin-top: -90px;
 }


</style>

<body> -->

  {% extends "base.html" %}

{% block content %}
  <div class="container-fluid">
    <div id="register"> 
        <h3 class="text-center text-white pt-5">Registration form</h3>
        <div class="container">
            <div id="register-row" class="row justify-content-center align-items-center">
                <div id="register-column" class="col-md-6">
                    <div id="register-box" class="col-md-12">
                      {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          <div class="notification is-danger">
                            {{ messages[0] }}. Go to <a href="{{ url_for('home.choose_login') }}">login page</a>.
                          </div>
                        {% endif %}
                      {% endwith %}

                        <form id="register-form" class="form" action="/register" method="post">
                            <h3 class="text-center text-info">Register</h3>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="first_name">First Name</label>
                                  <input type="text" class="form-control" name='first_name' id='first_name' placeholder="First name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">Last Name</label>
                                  <input type="text" class="form-control" name='last_name' id='last_name' placeholder="Last name">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="email">Email</label>
                                  <input type="text" class="form-control" name='email' id='email' placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                      <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                      </div>
                                      <input type="text" class="form-control" name='username' id='username' placeholder="Choose a Username">
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="password">Password</label>
                                  <input type="password" class="form-control" name='password' id='password' placeholder="Create Password">
                                </div>
                                <div class="form-group col-md-6">
                                  <label for="confirm_password"> Confirm Password</label>
                                  <input type="password" class="form-control" name='confirm_password' id="confirm_password" placeholder="Confirm Password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="address1">Address 1</label>
                                <input type="text" class="form-control" name='address1' id='address1' placeholder="Unit 20, Block 8, Complex Aout ">
                              </div>
                              <div class="form-group">
                                <label for="address2">Address 2</label>
                                <input type="text" class="form-control" name='address2' id='address2' placeholder="1234 Main St, Bronx">
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-6">
                                  <label for="city">City</label>
                                  <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="state">State</label>
                                  <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="zip_code">Zip</label>
                                  <input type="text" class="form-control" id="inputZip">
                                </div>
                              </div>

                           <!--- <div class="form-group">
                                <label for="country" class="text-info">Country:</label><br>
                                <input type="text" name="country" id="country" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" palceholder="Cretate password" class="form-control">
                            </div> --->
                            <div class="form-group">
                                <label for="agree_terms" class="text-info"><span>Agree to Terms and Conditions</span> <span><input id="agree_terms" name="agree_terms" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register">
                                <a href="{{ url_for('home.login')}}" class="text-info">Log In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
  </div>
  {% endblock %}

